body {
  padding-top: 125px;
}

.header {
  background-color: #faf9f7;
  color: #151110;
}

.header .navbar-nav {
  font-family: "Gill Sans", sans-serif;
  font-size: medium;
  justify-content: flex-end;
  margin-right: 10px;
}

.navbar-brand {
  margin-left: 20px;
}

.header .nav-item {
  margin-right: 20px;
  font-size: large;
}

.header .nav-link{
  color: #3b625f !important;
}

.body {
  background-color: #faf9f7;
}

.contact-bar {
  position:fixed;
  bottom: 180px;
}

.contact-bar.left {
  left: 42px;
}

.contact-bar.right {
  right: 42px;
}

.contact-bar ul {
  list-style: none;
}

.contact-bar ul li {
  margin-top: 20px;
  font-size: 20px;
}

.contact-bar a {
  color: #3b625f !important;
  position: relative;
}

.contact-bar a:hover {
  color: #D98F89;
}

.verticle-bar {
  position: relative;
}

.verticle-bar::after {
  content: ' ';
  height: 180px;
  display: block;
  position: absolute;
  border-left: 1px solid #3b625f;
  top: -5px;
  left: 50%;
}

.email-bar a {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-decoration: none;
  margin-bottom: 20px;
}

.intro {
  margin-top: 150px;
  margin-left: 200px;
}

.intro-text {
  margin-top: 150px;
  margin-left: 20px;
  line-height: 2.5;
}

#about-me {
  margin-left: 200px;
  margin-top: 300px;
}